*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-style: normal;

}

.logo{
    width: 160px;
}

nav{
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(248,193,19,1) 100%);
    box-shadow: 2px 2px 2px 2px #cdcdcd;
}

#navbarNav ul li a{
    color: #fff;
    font-weight: bold;
    transition: background 1s;
}

